<div>
    <table>
        <thead>
            <tr>
                <td>Preço</td>
                <td>Descrição</td>
                <td>Título</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of listaProdutos">
                <td>{{p.price}}</td>
                <td>{{p.description}}</td>
                <td>{{p.title}}</td>
                <button (click)="removeProduct(p)">Excluir</button>
                <button>
                    <a routerLink="/atualizar/{{p._id}}">Atualizar</a>   
                </button>
            </tr>
        </tbody>
    </table>
</div>


